{% extends 'base.html' %}
{% load static %}
{% block style %}
<style>
    .gradient-custom {
/* fallback for old browsers */
background: #6a11cb;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}
</style>
{% endblock %}
{% block content %}


<div>
    <div id="shopping-cart">
        <h1> سبد خرید</h1>
    </div>
    <button id="order-btn"class="btn btn-primary">ثبت سفارش</button>
</div>



<section class="h-100 gradient-custom">
    <div class="container py-5">
      <div class="row d-flex justify-content-center my-4">
        <div class="col-md-8">
          <div class="card mb-4">
            <div class="card-header py-3">
              <h5 class="mb-0">سبد خرید - {{cart.order_item.all|length}} آیتم</h5>
            </div>

            {% for order in cart.order_item.all %}
            <input id="order_id" value="{{cart.id}}" style="display: none;">
            <div class="card-body">
              <hr class="my-4" />
              <!-- Single item -->
              <div class="row">
                <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                  <!-- Image -->
                  <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                    <img src="{{ order.product.media_set.first.img.url }}"
                      class="w-100" />
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                    </a>
                  </div>
                  <!-- Image -->
                </div>
  
                <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                  <!-- Data -->
                  <p><strong>{{order.product.product.name}}</strong></p>
                  <p>رنگ: {{order.product.colour}}</p>
                  <p>سایز : {{order.product.size}}</p>
                  <p>تعداد : {{order.count}}</p>
  
                  <button type="button" class="btn btn-primary btn-sm me-1 mb-2" data-mdb-toggle="tooltip"
                    title="Remove item">
                    <i class="fas fa-trash"></i>
                  </button>
                  <button type="button" class="btn btn-danger btn-sm mb-2" data-mdb-toggle="tooltip"
                    title="Move to the wish list">
                    <i class="fas fa-heart"></i>
                  </button>
                  <!-- Data -->
                </div>
  
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                 
  
                  <!-- Price -->
                  <p class="text-start text-md-center" id="price-of-subpro">
                    قیمت : {{order.product.get_active_price}}
                  </p>
                  <!-- Price -->
                </div>
              </div>
              <!-- Single item -->
              {% endfor %}
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-body">
              <p><strong></strong></p>
              <p class="mb-0"></p>
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body">
              <p><strong>We accept</strong></p>
              <img class="me-2" width="45px"
                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                alt="Visa" />
              <img class="me-2" width="45px"
                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                alt="American Express" />
              <img class="me-2" width="45px"
                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                alt="Mastercard" />
             
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-header py-3">
              <h5 class="mb-0">چک</h5>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li
                  class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                 
                  <span></span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                  هزینه ارسال
                  <span>Gratis</span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                  <div>
                    <strong>فی کل</strong>
                    <strong>
                      <p class="mb-0"></p>
                    </strong>
                  </div>
                  <span id="total-price"><strong>$53.98</strong></span>
                </li>
              </ul>
  
              <button id="buy" type="button" class="btn btn-primary btn-lg btn-block">
                ثبت سفارش
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<script src="{% static 'js/cart-bundle.js' %}"></script>
{% endblock %}