{% extends "base.html" %}
{% load static %}
{% block styles %}

{% endblock %}
{% block content %}

<div id="logreg-forms">
    <form class="form-signin" action="{% url 'profile' %}">
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">ورود</h1>
        <div class="social-login">
        </div>

        <div id="login-input">
            <input type="login-input username" id="username" class="form-control" placeholder="ایمیل" required=""
                autofocus="">
        </div>

        <div id="login-input">
            <input type="password" id="password" class="login-input form-control" placeholder="پسورد" required="">
        </div>

        <div id="login-input" style="display: flex; ">
            <input type="text" id="otp" class="form-control" placeholder="کد پیامکی" required="">
            <button class="otp-button" onclick="startTimer(event)">ارسال</button>
        </div>

     
        <a href="" class="btn btn-success btn-block" id="submitBtn" type="submit"><i
                class="fas fa-sign-in-alt" style="margin: 5px;"></i>ورود</a>
        <a href="#" id="forgot_pswd">فراموش کردید؟</a>
        <hr>
        <button class="btn btn-primary btn-block" type="button" id="btn-signup"><i class="fas fa-user-plus"></i>ساخت
            اکانت</button>
    </form>

    <form action="/reset/password/" class="form-reset">
        <input type="email" id="resetEmail" class="form-control" placeholder="ایمیل" required="" autofocus="">
        <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
        <a href="#" id="cancel_reset"><i class="fas fa-angle-left"></i> Back</a>
    </form>

    <form action="/signup/" class="form-signup">
        <input type="email" id="user-email" class="form-control" placeholder="ایمیل" required autofocus="">
        <input type="password" id="user-pass" class="form-control" placeholder="رمز" required autofocus="">
        <input type="password" id="user-repeatpass" class="form-control" placeholder="تکرار رمز" required autofocus="">

        <button class="btn btn-primary btn-block" type="submit" id="registerButton"><i
                class="fas fa-user-plus"></i>ثبت‌نام</button>
        <a href="#" id="cancel_signup"><i class="fas fa-angle-left"></i> ورود</a>
    </form>
    <br>

</div>
<script src="{% static 'js/login-bundle.js' %}">
</script>
{% endblock %}