{% extends "base.html" %}

{% block content %}

<form class="form" action="{% url 'products' %}" id="login-from">
    {% csrf_token %}

  <!-- Email input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example1">نام کاربری</label>
    <input type="text" id="username" class="form-control" />
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example2">رمز عبور</label>
    <input type="password" id="password" class="form-control" />
  </div>

  <!-- 2 column grid layout for inline styling -->
  <div class="row mb-4">
    <div class="col d-flex justify-content-center">
      <div class="form-check">
        <label class="form-check-label" for="form2Example31">بخاطر بسپار</label>
        <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
      </div>
    </div>

    <div class="col">
      <!-- Simple link -->
      <a href="#!">Forgot password?</a>
    </div>
  </div>

  <!-- Submit button -->
  <button type="button" class="btn btn-primary btn-block mb-4" id="submitBtn">Sign in</button>

  <!-- Register buttons -->
  <div class="text-center">
    <p>Not a member? <a href="#!">Register</a></p>
    <p>or sign up with:</p>
    <button type="button" class="btn btn-link btn-floating mx-1">
      <i class="fab fa-facebook-f"></i>
    </button>

    <button type="button" class="btn btn-link btn-floating mx-1">
      <i class="fab fa-google"></i>
    </button>

    <button type="button" class="btn btn-link btn-floating mx-1">
      <i class="fab fa-twitter"></i>
    </button>

    <button type="button" class="btn btn-link btn-floating mx-1" id="">
      <i class="fab fa-github"></i>
    </button>
  </div>
</form>

<script>
document.getElementById("submitBtn").addEventListener("click", (e) => {
    e.preventDefault();
    var formData = new FormData();
    const username = document.getElementById('username');
    const password = document.getElementById('password');
    console.log(password)
    formData.append('username', username.value);
    formData.append('password', password.value);

    axios.post('http://127.0.0.1:8000/user/api/token/', formData)
        .then(function (response) {
               if (response.ok) {
                   window.location.assign("{% url 'create-product' %}")
               }})

        .catch(function (error) {
            console.log(error);
        });

    let form = document.forms[0];
    form.submit();
    console.log(form)


});

</script>
{% endblock %}