
{% block navbar %}
{% load static %}

<nav class="navbar navbar-right  navbar-expand-lg navbar-light bg-danger " dir="rtl">
          <div class="container-fluid" >
            <a class="navbar-brand" href="#">برند شاپ</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class=" navbar-nav right me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">خانه</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">لینک</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">فیچر</a>
                </li>

                <li class="nav-item">
                    {% include 'include/category_dropdown.html' %}
                </li>
              </ul>
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">جست‌و‌جو</button>
              </form>
            </div>
          </div>
        </nav>
{% endblock %}