{% extends 'base.html' %}
{% block content %}
 <div id="portfolio">
            <div class="container-fluid">
                {% for category in categories %}
                    {% if forloop.first %}<div class="row">{% endif %}
                    <div class="col-xs-4 ">
                        <a class="portfolio-box" href="{{ category.get_absolute_url }}" title="Project Name">

                            {% if category.image %}
                                <img class="img-fluid" src="{{ category.image.url }}" alt="{{ category.name }}" />
                            {% endif %}

                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">{{ category.name }}</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>

                    {% if forloop.counter0|divisibleby:3 %}</div><br/><div class="row">{% endif %}
                {% if forloop.last %}</div>{% endif %}
                {% endfor %}
            </div>
 </div>

{% endblock %}