{% extends 'base.html' %}
{% load category_filter%}
{% block content %}

<style>

.category{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.category p {
    display: none;

}
.category li {
    list-style-type: none;
}
.category a{
    text-decoration: none;
    
    color: aliceblue;
}

.category a:hover{
    text-decoration: underline;
    color: red;
}

</style>

<section>
    <div class="category">


        <div class="dropdown">
        {% for cat in categories %}

           {{cat|fcategory|safe}}
        
        {% endfor%}
    </div>

    </div>
</section>
{% endblock %}