{% extends "base.html" %}
{% load static %}
{% block content %}
 <div class="row row-cols-1 row-cols-md-3 m-100px g-4 " id="product_list">
    {% for product in products %}
        <div class="col" id="product">
            <div class="card h-100">
                <img src="{% static 'default.jpg' %}" class="card-image" alt="There are no images available right now.">
                <div class="card-body">
                    <div CLASS="flex-row">
                        <h4 class="card-title text-center mb-10">{{ product.name }}</h4>
                    </div>
                    <div class="d-flex m-10 p-10">
                        <a href="{% url 'wish-list' %}" class="btn btn-outline-primary m-auto">Add to Wishlist</a>
                        <a href="#" class="btn btn-outline-primary m-auto">Link Button</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
        <a href="{{product.get_absolute_url}}">{{product.name}}</a>
</div>
{% endblock content %}




