{% extends "base.html" %}
{% load static %}

{% block style %}

<style>
    .message-container {
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        z-index: 9999;
        /* Set a high z-index so it appears on top of everything */
    }

    .message-alert {
        margin-bottom: 0;
        /* Remove any bottom margin to prevent pushing down content below */
    }

    .alert {
        padding: 20px;
        background-color: #f44336;
        color: white;
        opacity: 1;
        transition: opacity 0.6s;
        margin-bottom: 15px;
    }

    .alert.success {
        background-color: #04AA6D;
    }

    .alert.info {
        background-color: #2196F3;
    }

    .alert.warning {
        background-color: #ff9800;
    }

    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

    .closebtn:hover {
        color: black;
    }
</style>

{% endblock %}

{% block content %}


<div class="row" style="margin-top: 10px;">

    <div class="col-4 product-imgs">
        <div class="img-display">
            <div class="img-showcase">
                {% for image in images %}
                <img class="img" src="{{image.img.url}}" alt="shoe image">
                {% endfor %}
            </div>
        </div>

        <div class="img-select">

            {% for image in images %}
            <div class="img-item">
                <a href="#" data-id="{{ forloop.counter }}">
                    <img class="img" src="{{image.img.url}}" alt="shoe image">
                </a>
            </div>
            {% endfor %}

        </div>
    </div>


    <!-- card right -->
    <div class="col-6 product-content d-flex h-100" style="flex-direction: column; align-items: stretch; ">

        <h2 class="product-title">{{product.name}}</h2>
        <div class="product-rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <span></span>
        </div>


        {% comment %}
        <div class="product-price">
            <p class="last-price">Old Price: <span>$257.00</span></p>
            <p class="new-price">New Price: <span>$249.00 (5%)</span></p>
        </div>
        {% endcomment %}

        <div>
            <div class="product-detail" style="margin-bottom: 10px;">
                <p>{{product.desc}}</p>
                
            <div>

                <div id="success" class="alert success" style="display:none;">
                    <span class="closebtn">&times;</span>
                    <strong>اضافه شد!</strong> با موفقیت به سبد اضافه شد
                </div>

                <div id="notification">

                </div>

                <table class=" table" id="address-table">
                    <thead>
                        <tr>
                            <th scope="col">کد کالا</th>
                            <th scope="col">رنگ</th>
                            <th scope="col">اندازه</th>
                            <th scope="col">قیمت</th>
                            <th scope="col">تعداد</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for subproduct in product.subproduct_set.all %}
                        <tr>
                            <th>{{ subproduct.sku }}</td>
                            <td>{{ subproduct.colour }}</td>
                            <td>{{ subproduct.size }}</td>
                            <td>{{ subproduct.get_active_price }}</td>


                            <td>
                                <div class="" id="added-to-cart">

                                    <button class="increase btn btn-primary" type="submit"
                                        id="increase-cart{{forloop.counter}}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                            <path
                                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                        </svg>
                                    </button>

                                    <input id="product-detail-cart-count" class="product-detail-cart-count"
                                        style="width:40px; text-align: center;" type="text" value="0"
                                        data-subproduct-id="{{ subproduct.id }}"
                                        data-subproduct-price="{{ subproduct.get_active_price }}"
                                        >

                                    <button class="decrease btn btn-primary" type="submit" id="decrease-cart">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                                        </svg>
                                    </button>
                                </div>

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>



                <button type="button" class="btn add-to-cart" id="cartButton">
                    اضافه به سبد خرید <i class="fas fa-shopping-cart"></i>
                </button>
            </div>
        </div>
        <div>
            {{chart|safe}}

        </div>
    </div>
</div>


</div>


<script src="{% static 'js/productDetail-bundle.js' %}"></script>
{% endblock content %}