{% extends 'base.html' %}

{% load static %}
{% block styles %}
<style>
  .gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
  }

  .active {
    color: green;
    font-weight: bolder;

  }

  .list-group-item p {
    margin: 2px;
  }
</style>
{% endblock %}

{% block content %}

<section class="vh-100" style="">
  <div class="row d-flex justify-content-center align-items-center" style="margin-top: 30px;">

    <div class="col">

      <div class="card mb-3" style="border-radius: .5rem;">
        <div class="row g-0">


          <div class="col-4 gradient-custom text-center text-white d-flex" style="align-items: center;
            justify-content: center; flex-direction: column;">
            <div>
              <h5 style="text-align: center;" id="username"></h5>
            </div>

            <div>
              <i class="far fa-edit mb-5"></i>
            </div>
          </div>


          <div class="col-8 d-flex">
            <div class="card-body p-4 justify-content-center">
              <div class="row pt-1">


                <div class="col-6 mb-3">
                  <h6>ایمیل</h6>
                  <p class="text-muted" id="email"></p>
                </div>


                <div class="col-6 mb-3">
                  <h6>تلفن</h6>
                  <p class="text-muted" id="phone_number"></p>
                </div>


              </div>


              <h6>آدرس</h6>
              <hr class="mt-0 mb-4">

              <div id="loading-message" class="spinner-border" role="status" style="display: none;">
                <span class="visually-hidden"></span>
              </div>

              <div id="success-alert" class="alert alert-success" role="alert" style="display: none;">
                آدرس با موفقیت انتخاب شد
              </div>

              {% regroup addresses by city as address_group %}

              {% for address in address_group %}
              <div class="list-group">
                <h4>{{address.grouper}}</h4>
                {% for x in address.list %}
                <div class="list-group-item d-flex justify-content-between align-items-center" style="align-items: center;">
                 
                    <p class="address-id">{{x.id}}</p>
                    <p>{{x.province}}</p>
                    <p>{{x.zip_code}}</p>
                    <p>{{x.phone}}</p>
                  
                  <input class="" type="checkbox" >
                  <button type="button" class="btn btn-primary">edit</button>
                  <button type="button" class="btn btn-danger">delete</button>
                </div>
                {% endfor %}

              </div>
              {% endfor %}

              <div id="address-holder" class=""></div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  </div>

</section>
<script src="{% static 'js/profile-bundle.js' %}"></script>
{% endblock %}